/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=PT+Mono&display=swap");

/* Overrides Browser Defaults */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Manrope', sans-serif;
}

h1, h2, h3 {
    font-family: 'PT Mono', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

p   {
    color: #3a3a3a;
}

/* Header */
header {
    background-color: rgb(153, 196, 232);
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}



#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar Styles with dropdown toggle */

nav {
    position: absolute;
    background-color: rgb(153, 196, 232);
    padding: 0 1rem;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* navbar checked state */

#nav-toggle:checked ~ nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label   {
    font-size: 2rem;
}

/* Footer */
footer {
    background-color: rgb(172, 204, 231);
}

.social-links {
    text-align: center;
    padding: 20px 0;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    color: #3a3a3a;
}

.social-links i {
    font-size: 150%;
    padding: 5%;
    
}
